# Universal 2.4GHz Monitor - Device Permissions
# Copy this file to /etc/udev/rules.d/ and run: sudo udevadm control --reload-rules && sudo udevadm trigger

# Kreo Anzu (and compatible CompX receivers)
KERNEL=="hidraw*", ATTRS{idVendor}=="3554", MODE="0660", TAG+="uaccess"